@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
    scroll-behavior: smooth;
    user-select: text;
}

*:focus {
    outline: 0;
  }
  * input::-webkit-outer-spin-button,
  * input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::selection {
    background-color: #eb3349;
    color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

body {
    height: 100vh;
}